.chat-main
  .chat-main__group-info
    .group-info__left
      .group-info__group-name
        test
      .group-info__group-member
        Member:masa
    =link_to "#" do
      .group-info__right
        EDIT
  .chat-main__message-list
    .message-list__upper
      .massage-list__name
        masa
      .message-list__date
        2020/02/15(sat)18:18:00
    .message-list__text
      おはよう！
    .message-list__upper
      .message-list__name
        masa
      .message-list__date
        2020/02/15(sat)18:18:00
    .message-list__text
      おはよう！
  .chat-main__message-form
    .message-form__box
      %input.message-form__text{placeholder: "type a message", type: "text"}
      %label{class: "message-form__image"}
        = icon('fas', 'image')
        %input.message-form__file-select{type: "file"}
    %input.message-form__send-btn{type: "submit", value: "Send"}