.message-list{data: {message: {id: message.id}}}
  .message-list__upper
    .massage-list__name
      = message.user.name
    .message-list__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-list__text
    - if message.body.present?
      = simple_format message.body
    - if message.image.present?
      = image_tag message.image.url, class: 'message-list__text--image'